<%- include('header') %>
    <%- include('part') %>
    <link rel="stylesheet" href="/css/form.css">
    <div class="container">
        <form id="form-forgot">
            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" id="email-forgot" class="form-control.error" placeholder="Nhập email" />
                <small>Error Here</small>
            </div>

            <div class="form-control">
                <p class="result">Result</p>
            </div>
            <button type="submit">Gửi Yêu Cầu</button>
        </form>
    </div>
    <script src="js/forgotPassword.js"></script>
    <script src="js/validate-function.js"></script>
        <%- include('footer') %>