<%- include('header') %>
    <%- include('part') %>

        <div class="content-home">
            <img src="images/todo.png" alt="to-do-banner" />
            <a href="/register" class="a-reg">Đăng Kí</a>
            <a href="/login" class="a-log">Đăng Nhập</a>
            <!-- <p><a href="/forgot">Forgotten password?</a> </p> -->
        </div>
        <link rel="stylesheet" href="css/home-style.css" />

        <script src="js/home.js"></script>

        <%- include('footer') %>