<%- include('header') %>
    <%- include('part') %>
    <link rel="stylesheet" href="css/home-style.css" />
        <div class="content-home">
            <img src="images/todo.png" alt="to-do-banner" />
            <a href="/register" class="a-reg">Đăng Kí</a>
            <a href="/login" class="a-log">Đăng Nhập</a>
            <p><a href="/forgotPassword">Quên Mật Khẩu?</a> </p>
        </div>
       
        <%- include('footer') %>