<%- include("header") -%>
    <%- include("nav") -%>
        <%- include('part') -%>
        <link rel="stylesheet" href="css/list.css">
            <div class="box">
                <div id="task-list">
                    <!-- <div class="one-item">
                        <div class="item">
                            <p class="description"></p>
                            <input type="checkbox" id="checkbox" value="" />
                        </div>
                        <pre class="time">123456</pre>
                    </div> -->
                </div>
                <div id="add">
                    <input type="text" id="inputItem" placeholder="Nhập Công Việc" autocomplete="off" />
                    <button type="submit" id="addBtn">+</button>
                </div>
            </div>
            <span id="message">Message</span>
            
            <script src="js/list.js"></script>
            <%- include("footer") -%>