<%- include('header') -%>
    <%- include('part') -%>
    <link rel="stylesheet" href="/css/form.css" />
        <div class="container">
            <form id="form-reset">
                <div class="form-control">
                    <label for="password-new">Mật Khẩu Mới</label>
                    <input type="password" id="password-new" placeholder="Nhập mật khẩu mới" />
                    <small>Error Here</small>
                </div>
                <div class="form-control">
                    <label for="password-new2">Nhập Lại Mật Khẩu Mới</label>
                    <input type="password" id="password-new2" placeholder="Nhập lại mật khẩu mới" />
                    <small>Error Here</small>
                </div>
                <div class="form-control">
                    <p class="result">Result</p>
                </div>
                <button type="submit">Cập Nhật</button>
            </form>
        </div>
        <script src="/js/validate-function.js"></script>
        <script src="/js/resetPassword.js"></script>
        <%- include("footer") -%>